<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/scripts/jquery-3.6.0.min.js"></script>
        <!-- Google Analytics -->
        <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'G-84GKPDDDT4', 'auto');
        ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->
    </head>
    <body>
        <div class="container" id="top">
            <div id="nav-container">
              <div class="container-fluid" id="branding"><a href="/staging"><img src="/images/logo.png" alt="Hueristic Devices Logo" class="header-logo"></a></div>
              {% include nav.html %}
            </div>
            <div class="row article container-fluid">
                <div class="col-md-12 main-article">
                    <article>
                        {{ content }}
                    </article>
                </div>

                

            </div>
            <div id="footer">
              {% include footer_page.html %}
            </div>
        </div>
    </body>
</html>
